@media (max-width: 1551px) {
  .section6 .pre-section6 .pre-section6-title-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .section6 .pre-section6 .pre-section6-title-section > div:first-child {
    margin-right: 0;
  }
}

@media (max-width: 1300px) {
  .content .nav .nav_list {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .content .nav .nav_logo {
    width: 1%;
  }
}

@media (max-width: 1200px) {
  .section7 .pre-section7 .hoverblock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(500px, 2fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
  }
  .section7 .pre-section7 .hoverblock > div {
    margin: 0;
  }
  .section7 .pre-section7 .hoverblock > div li .descr {
    width: 200%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .section7 .pre-section7 .hoverblock > div li .descr::after {
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .section7 .pre-section7 .hoverblock > div li .descr::before {
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .section7 .pre-section7 .hoverblock > div:hover .descr::after {
    top: 0;
    right: 30%;
  }
  .section7 .pre-section7 .hoverblock > div:hover .descr::before {
    top: 0;
    left: 30%;
  }
}

@media (max-width: 1060px) {
  .content .nav .nav_list li {
    padding: 8px;
  }
  .content .nav .nav_list li a {
    font-size: 12px;
  }
}

@media (max-width: 1049px) {
  .section8 .pre-section8 .pricingtable .pricingtable-block {
    margin-bottom: 30px;
  }
  .section8 .pre-section8 .pricingtable .pricingtable-block:last-child {
    margin-bottom: 0;
  }
  .section2 .pre-section2 .pre-section2__blocks-placement {
    -ms-grid-columns: (minmax(350px, 2fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
  }
}

@media (max-width: 945px) {
  .section .pre-section1 .pre-section1__blocks-shadow {
    -ms-grid-columns: (minmax(100%, 2fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
    grid-gap: 20px;
  }
}

@media (max-width: 860px) {
  .section .pre-section1 .pre-section1__our-company-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
  }
  .section .pre-section1 .pre-section1__our-company-card .pre-section1__our-company-card__left-side {
    margin-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .pre-section1 .pre-section1__our-company-card .pre-section1__our-company-card__right-side {
    height: 300px;
  }
  .section11 .pre-section11 .form-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section11 .pre-section11 .form-contact .form .form-name-message .buttons-info-helper {
    width: 100%;
    margin: 0;
  }
  .section11 .pre-section11 .form-contact .form-contact-info {
    text-align: center;
  }
  .section4 .pre-section4 .pre-section4__stats-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section4 .pre-section4 .pre-section4__stats-block .describe__stats-block {
    margin: 0 auto;
    max-width: 80%;
  }
  .section4 .pre-section4 .pre-section4__stats-block .describe__stats-block h4 {
    text-align: center;
    font-size: 22px;
  }
  .section4 .pre-section4 .pre-section4__stats-block .wrapper-content {
    max-width: 80%;
    margin: 0 auto;
  }
  .section5 .pre-section5 .boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-slider .slider .slider-item .pic1 {
    height: 850px;
    width: 100%;
  }
  .header-slider .slider .slider-item .pic1 .slider-item__pic1__title-item {
    text-align: center;
    padding-top: 300px;
  }
  .header-slider .slider .slider-item .pic2 {
    height: 850px;
    width: 100%;
  }
  .header-slider .slider .slider-item .pic2 .slider-item__pic2__title-item {
    text-align: center;
    max-width: 600px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 300px;
  }
  .header-slider .slider .slider-item .pic3 {
    height: 850px;
    width: 100%;
    text-align: center;
  }
  .header-slider .slider .slider-item .pic3 .slider-item__pic3__title-item {
    text-align: center;
    max-width: 700px;
    padding-right: 0;
    padding-top: 300px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 630px) {
  .section .pre-section1 .pre-section1__our-company-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
  }
  .section .pre-section1 .pre-section1__our-company-card .pre-section1__our-company-card__left-side {
    margin-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .pre-section1 .pre-section1__our-company-card .pre-section1__our-company-card__left-side > div:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .pre-section1 .pre-section1__our-company-card .pre-section1__our-company-card__left-side > div:last-child .desribe-card-right {
    margin-top: 15px;
  }
  .section .pre-section1 .pre-section1__our-company-card .pre-section1__our-company-card__left-side > div:last-child .desribe-card-right ul {
    margin-top: 0;
  }
  .section10 .pre-section10 .header-slider .slider4 .slider-item .img-svg-line {
    max-width: 70%;
    height: auto;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .choose-color-blocks-fixed {
    display: none;
  }
  .header-slider .slider .slider-item .pic1 {
    height: 750px;
    width: 100%;
  }
  .header-slider .slider .slider-item .pic1 .slider-item__pic1__title-item {
    padding-top: 230px;
  }
  .header-slider .slider .slider-item .pic2 {
    height: 750px;
  }
  .header-slider .slider .slider-item .pic2 .slider-item__pic2__title-item {
    padding-top: 150px;
  }
  .header-slider .slider .slider-item .pic3 {
    height: 750px;
  }
  .header-slider .slider .slider-item .pic3 .slider-item__pic3__title-item {
    padding-top: 150px;
  }
}

@media (max-width: 400px) {
  .section3 .pre-section3 .slider2 .slider-item img {
    width: 200px;
    height: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .section6 .pre-section6 .pre-section6-title-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .section6 .pre-section6 .pre-section6-title-section > div:first-child {
    margin-right: 0;
  }
  .section6 .pre-section6 .pre-section6-title-section > div:first-child h1 {
    font-size: 16px;
  }
  .section8 .pre-section8 .pricingtable .pricingtable-block {
    min-width: 300px;
  }
  .footer .pre-footer .footer-list-link-social {
    -ms-grid-columns: (2fr)[3];
        grid-template-columns: repeat(3, 2fr);
  }
}

@media (max-width: 320px) {
  .section5 .pre-section5 .boxes .block-box {
    width: 200px;
    height: 200px;
  }
  .header-slider .slider .slider-item .title-item .buttons-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .header-slider .slider .slider-item .title-item .buttons-info a {
    margin-right: 0;
  }
  .header-slider .slider .slider-item .title-item .buttons-info a:first-child {
    margin-bottom: 10px;
  }
  .header-slider .slider .slider-item .pic1 {
    height: 850px;
    width: 100%;
  }
  .header-slider .slider .slider-item .pic1 .slider-item__pic1__title-item {
    padding-top: 230px;
  }
  .header-slider .slider .slider-item .pic2 {
    height: 850px;
  }
  .header-slider .slider .slider-item .pic2 .slider-item__pic2__title-item {
    padding-top: 150px;
  }
  .header-slider .slider .slider-item .pic3 {
    height: 850px;
  }
  .header-slider .slider .slider-item .pic3 .slider-item__pic3__title-item {
    padding-top: 150px;
  }
  .section6 {
    height: 500px;
  }
  .section6 .pre-section6 .pre-section6-title-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .section6 .pre-section6 .pre-section6-title-section > div:first-child {
    margin-right: 0;
  }
  .section6 .pre-section6 .pre-section6-title-section > div:first-child h1 {
    font-size: 16px;
  }
  .section8 .pre-section8 .pricingtable .pricingtable-block {
    min-width: 200px;
  }
  .section10 .pre-section10 .header-slider .slider4 .slider-item .img-svg-line p {
    padding-bottom: 40px;
  }
  .section12 .pre-section12 .title-section form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section12 .pre-section12 .title-section form input {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .section12 .pre-section12 .title-section form button {
    width: 100%;
  }
}
