@font-face {
  font-family: "Matroska";
  src: url(../../fonts/Matroska/Matroska.ttf);
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  height: 10000px;
}

.content2 {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.content {
  max-width: 100%;
  margin: 0 auto;
}

.content .nav {
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .nav .nav_logo {
  font-family: "Matroska";
  font-size: 32px;
  color: #337ab7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.content .nav .nav_list {
  margin-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .nav .nav_list li {
  padding: 15px;
  background-color: transparentize;
  cursor: pointer;
  -webkit-transition: color .15s ease;
  transition: color .15s ease;
}

.content .nav .nav_list li:hover {
  color: #337ab7;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.content .nav .nav_list li a {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.content .nav .nav_list li a.active {
  color: #337ab7;
}

.header-slider {
  margin-bottom: 70px;
}

.header-slider .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  position: relative;
}

.header-slider .slider .slider-item {
  outline: none;
  position: absolute;
}

.header-slider .slider .slider-item .title-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 225px;
}

.header-slider .slider .slider-item .title-item h1 {
  z-index: 10;
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-slider .slider .slider-item .title-item p {
  z-index: 10;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-slider .slider .slider-item .title-item .buttons-info {
  z-index: 10;
}

.header-slider .slider .slider-item .title-item .buttons-info a {
  display: inline-block;
  padding: 13px 25px;
  text-transform: capitalize;
  margin-right: 20px;
  background-color: #228ae6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header-slider .slider .slider-item .title-item .buttons-info a:first-child:hover {
  background-color: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #000;
}

.header-slider .slider .slider-item .title-item .buttons-info a:last-child {
  margin-right: 0;
  border: 1px solid #fff;
  background-color: transparent;
}

.header-slider .slider .slider-item .title-item .buttons-info a:last-child:hover {
  background-color: #228ae6;
  border-color: #228ae6;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.header-slider .slider .slider-item .slider-item__pic1__title-item {
  text-align: center;
  padding-top: 275px;
}

.header-slider .slider .slider-item .slider-item__pic2__title-item {
  text-align: right;
  max-width: 600px;
  margin-right: 200px;
}

.header-slider .slider .slider-item .slider-item__pic3__title-item {
  text-align: left;
  max-width: 600px;
  padding-right: 100px;
  margin-left: 200px;
}

.header-slider .slider .slider-item .pic1 {
  background-image: url(../../img/1-1.jpg);
  background-size: cover;
  height: 725px;
  width: 100%;
}

.header-slider .slider .slider-item .pic2 {
  background-image: url(../../img/2-1.jpg);
  background-size: cover;
  height: 725px;
  width: 100%;
}

.header-slider .slider .slider-item .pic3 {
  background-image: url(../../img/3-1.jpg);
  background-size: cover;
  height: 725px;
  width: 100%;
}

.header-slider .slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: -30px 0 0 0;
}

.header-slider .slider .slick-arrow.slick-prev {
  left: 20px;
  background: url(../../img/left-arrow.svg) 0 0/100% no-repeat;
  z-index: 10001;
}

.header-slider .slider .slick-arrow.slick-next {
  right: 20px;
  background: url(../../img/right-arrow.svg) 0 0/100% no-repeat;
  z-index: 10001;
}

.header-slider .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.header-slider .slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.header-slider .slider .slick-dots li.slick-active button {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 50%;
}

.header-slider .slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.header-slider .slider .slick-dots li:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bg-fon {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
