@media (max-width: 1551px)
    .section6
        .pre-section6
            .pre-section6-title-section
                flex-direction: column
                text-align: center
                >div
                    &:first-child
                        margin-right: 0

@media (max-width: 1300px)
    .content
        .nav
            .nav_list
                justify-self: start
            .nav_logo
                width: 1%

@media (max-width: 1200px)
    .section7
        .pre-section7
            .hoverblock
                display: grid
                grid-template-columns: repeat(auto-fill, minmax(500px, 2fr))
                >div
                    margin: 0
                    li
                        .descr
                            width: 200%
                            height: 100%
                            transition: all 0.5s ease
                            &::after
                                top: 0
                                right: 100%
                                width: 100%
                                height: 100%
                                transform: rotate(90deg)
                                transition: all .5s ease
                            &::before
                                width: 100%
                                height: 100%
                                transform: rotate(90deg)
                                transition: all .5s ease
                    &:hover
                        .descr::after
                            top: 0
                            right: 30%
                        .descr::before
                            top: 0
                            left: 30%

@media (max-width: 1060px)
    .content
        .nav
            .nav_list
                li
                    padding: 8px
                    a
                        font-size: 12px
@media (max-width: 1049px)
    .section8
        .pre-section8
            .pricingtable
                .pricingtable-block
                    margin-bottom: 30px
                    &:last-child
                        margin-bottom: 0

    .section2
        .pre-section2
            .pre-section2__blocks-placement
                grid-template-columns: repeat(auto-fill, minmax(350px, 2fr))

@media (max-width: 945px)
    .section
        .pre-section1
            .pre-section1__blocks-shadow
                // margin: 0 auto
                grid-template-columns: repeat(auto-fill, minmax(100%, 2fr))
                grid-gap: 20px

@media (max-width: 860px)
    .section
        .pre-section1
            .pre-section1__our-company-card
                flex-direction: column
                width: 60%
                margin: 0 auto
                margin-top: 90px
                text-align: center
                .pre-section1__our-company-card__left-side
                    margin-bottom: 20px
                    align-items: center
                .pre-section1__our-company-card__right-side
                    height: 300px

    .section11
        .pre-section11
            .form-contact
                flex-direction: column
                .form
                    .form-name-message
                        .buttons-info-helper
                            width: 100%
                            margin: 0
                .form-contact-info
                    text-align: center
    .section4
        .pre-section4
            .pre-section4__stats-block
                flex-direction: column
                .describe__stats-block
                    margin: 0 auto
                    max-width: 80%
                    h4
                        text-align: center
                        font-size: 22px
                .wrapper-content
                    max-width: 80%
                    margin: 0 auto
                    .progress-bar

    .section5
        .pre-section5
            .boxes
                flex-direction: column
                margin: 0 auto
                justify-content: center
                align-items: center

    .header-slider
        .slider
            .slider-item
                .pic1
                    height: 850px
                    width: 100%
                    .slider-item__pic1__title-item
                        text-align: center
                        padding-top: 300px
                .pic2
                    height: 850px
                    width: 100%
                    .slider-item__pic2__title-item
                        text-align: center
                        max-width: 600px
                        margin-left: 0
                        margin-right: 0
                        padding-top: 300px
                .pic3
                    height: 850px
                    width: 100%
                    text-align: center
                    .slider-item__pic3__title-item
                        text-align: center
                        max-width: 700px
                        padding-right: 0
                        padding-top: 300px
                        margin-left: 0
                        margin-right: 0

@media (max-width: 630px)

    .section
        .pre-section1
            .pre-section1__our-company-card
                flex-direction: column
                width: 60%
                margin: 0 auto
                margin-top: 90px
                text-align: center
                .pre-section1__our-company-card__left-side
                    margin-bottom: 20px
                    align-items: center
                    >div
                        &:last-child
                            flex-direction: column
                            .desribe-card-right
                                margin-top: 15px
                                ul
                                    margin-top: 0

    .section10
        .pre-section10
            .header-slider
                .slider4
                    .slider-item
                        .img-svg-line
                            max-width: 70%
                            height: auto
                            margin: 0 auto

@media (max-width: 500px)
    .choose-color-blocks-fixed
        display: none

    .header-slider
        .slider
            .slider-item
                .pic1
                    height: 750px
                    width: 100%
                    .slider-item__pic1__title-item
                        padding-top: 230px
                .pic2
                    height: 750px
                    .slider-item__pic2__title-item
                        padding-top: 150px
                .pic3
                    height: 750px
                    .slider-item__pic3__title-item
                        padding-top: 150px

@media (max-width: 400px)
    .section3
        .pre-section3
            .slider2
                .slider-item
                    img
                        width: 200px
                        height: auto
                        user-select: none

    .section6
        .pre-section6
            .pre-section6-title-section
                flex-direction: column
                text-align: center
                >div
                    &:first-child
                        margin-right: 0
                        h1
                            font-size: 16px

    .section8
        .pre-section8
            .pricingtable
                .pricingtable-block
                    min-width: 300px

    .footer
        .pre-footer
            .footer-list-link-social
                grid-template-columns: repeat(3, 2fr)

@media (max-width: 320px)
    .section5
        .pre-section5
            .boxes
                .block-box
                    width: 200px
                    height: 200px
    .header-slider
        .slider
            .slider-item
                .title-item
                    .buttons-info
                        display: flex
                        flex-direction: column
                        width: 80%
                        margin: 0 auto
                        a
                            margin-right: 0
                            &:first-child
                                margin-bottom: 10px
                .pic1
                    height: 850px
                    width: 100%
                    .slider-item__pic1__title-item
                        padding-top: 230px
                .pic2
                    height: 850px
                    .slider-item__pic2__title-item
                        padding-top: 150px
                .pic3
                    height: 850px
                    .slider-item__pic3__title-item
                        padding-top: 150px

    .section6
        height: 500px
        .pre-section6
            .pre-section6-title-section
                flex-direction: column
                text-align: center
                >div
                    &:first-child
                        margin-right: 0
                        h1
                            font-size: 16px

    .section8
        .pre-section8
            .pricingtable
                .pricingtable-block
                    min-width: 200px

    .section10
        .pre-section10
            .header-slider
                .slider4
                    .slider-item
                        .img-svg-line
                            p
                                padding-bottom: 40px

    .section12
        .pre-section12
            .title-section
                form
                    flex-direction: column
                    input
                        width: 100%
                        text-align: center
                        margin: 0 auto
                    button
                        width: 100%
