@font-face
    font-family: "Matroska"
    src: url(../../fonts/Matroska/Matroska.ttf)
    font-style: normal
    font-weight: normal
body
    font-family: "Montserrat", sans-serif
    font-size: 14px
    letter-spacing: 0.4px
    line-height: 28px
    height: 4000px

.page
    overflow: hidden
.content2
    position: fixed
    z-index: 100000
    top: 0
    left: 50%
    transform: translate(-50%, 0)

.content
    // background-color: #e2ee
    max-width: 100%
    margin: 0 auto
    .nav
        color: #fff
        max-width: 1200px
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
        .nav_logo
            font-family: "Matroska"
            font-size: 32px
            color: #337ab7
            user-select: none
            cursor: pointer
        .nav_list
            // width: 100%
            margin-left: 200px
            display: flex
            align-items: center
            justify-content: space-between
            li
                padding: 15px
                background-color: transparentize
                cursor: pointer
                transition: color .15s ease
                &:hover
                    color: #337ab7
                    transition: color .1s ease
                a
                    // color: #fff
                    font-size: 1em
                    font-weight: 600
                    text-transform: uppercase
                    &.active
                        color: #337ab7

.header-slider
    margin-bottom: 70px
    .slider
        display: flex
        min-width: 0
        flex-direction: column
        margin: 0
        position: relative
        .slider-item
            outline: none
            position: absolute
            .title-item
                display: flex
                max-width: 800px
                flex-direction: column
                margin: 0 auto
                flex-wrap: wrap
                padding-top: 225px
                h1
                    z-index: 10
                    font-size: 45px
                    line-height: 55px
                    font-weight: 700
                    margin-bottom: 20px
                    color: #fff
                    text-transform: uppercase
                    user-select: none
                p
                    z-index: 10
                    font-size: 18px
                    margin-bottom: 30px
                    font-weight: 500
                    color: #fff
                    user-select: none
                .buttons-info
                    z-index: 10
                    a
                        display: inline-block
                        padding: 13px 25px
                        text-transform: capitalize
                        margin-right: 20px
                        background-color: #228ae6
                        color: #fff
                        border: none
                        border-radius: 5px
                        cursor: pointer
                        transition: all .3s ease-in
                        &:first-child
                            &:hover
                                background-color: #fff
                                transition: all .3s ease-out
                                color: #000
                        &:last-child
                            margin-right: 0
                            border: 1px solid #fff
                            background-color: transparent
                            &:hover
                                background-color: #228ae6
                                border-color: #228ae6
                                transition: all .3s ease-out

            .slider-item__pic1__title-item
                text-align: center
                padding-top: 275px
            .slider-item__pic2__title-item
                text-align: right
                max-width: 600px
                margin-right: 200px
            .slider-item__pic3__title-item
                text-align: left
                max-width: 700px
                padding-right: 100px
                margin-left: 200px
            .pic1
                background-image: url(../../img/1-1.jpg)
                background-size: cover
                height: 725px
                width: 100%
            .pic2
                background-image: url(../../img/2-1.jpg)
                background-size: cover
                height: 725px
                width: 100%
            .pic3
                background-image: url(../../img/3-1.jpg)
                background-size: cover
                height: 725px
                width: 100%
        .slick-arrow
            position: absolute
            top: 50%
            z-index: 10
            font-size: 0
            width: 30px
            height: 60px
            border: none
            outline: none
            cursor: pointer
            margin: -30px 0 0 0
        .slick-arrow.slick-prev
            left: 20px
            background: url(../../img/left-arrow.svg) 0 0 / 100% no-repeat
            z-index: 10001
        .slick-arrow.slick-next
            right: 20px
            background: url(../../img/right-arrow.svg) 0 0 / 100% no-repeat
            z-index: 10001
        .slick-dots
            display: flex
            align-items: center
            justify-content: center
            padding: 0
            li
                list-style: none
                margin: 0 10px
                &.slick-active button
                    border: 1px solid black
                    background-color: #fff
                    border-radius: 50%
                button
                    font-size: 0
                    width: 10px
                    height: 10px
                    background-color: black
                    border-radius: 50%
                    border: none
                    outline: none
                    cursor: pointer
                &:active
                    transform: scale(1.2)
.slick-list
    overflow: hidden

.slick-track
    display: flex
    align-items: flex-start

.bg-fon
    background-color: rgba(0,0,0,.6)
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 0

.section
    .pre-section1
        display: flex
        margin: 0 auto
        max-width: 1200px
        flex-direction: column
        justify-content: center
        align-items: center
        .pre-section1__blocks-shadow
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            div
                padding: 12px 18px
                margin-right: 30px
                text-align: center
                box-shadow: 0px 0px 15px rgba(0,0,0,.1)
                display: flex
                flex-direction: column
                flex-wrap: nowrap
                &:last-child
                    margin-right: 0
                i
                    font-size: 55px
                    padding: 25px 0
                    opacity: .6
                h1
                    font-weight: 600
                    margin-bottom: 25px
        .pre-section1__our-company-card
            display: flex
            width: 100%
            justify-content: space-between
            margin-top: 100px
            .pre-section1__our-company-card__left-side
                display: flex
                flex-direction: column
                max-width: 100%
                // background-color: #eee
                >div
                    &:first-child
                        h2
                            font-size: 26px
                            margin-bottom: 15px
                        p
                            margin-bottom: 15px
                            opacity: 0.8
                        ul
                            li
                                opacity: 0.8
                                margin-bottom: 15px
                                i
                                    color: #228ae6
                    &:last-child
                        display: flex
                        align-items: center
                        // justify-content: space-evenly
                        margin-top: 30px
                        .desribe-card-right
                            display: flex
                            flex-direction: column
                            align-items: center
                            justify-content: space-between
                            h4
                                font-size: 18px
                            ul
                                display: flex
                                justify-content: space-around
                                align-items: center
                                margin-top: 20px
                                li
                                    margin: 20px
                                    a
                                        padding: 8px
                                        background-color: #228ae6
                                        border-radius: 20%
                                        i
                                            font-size: 16px
                                            color: #fff

            .pre-section1__our-company-card__right-side
                position: relative
                width: 100%
                background-image: url('../../img/video.jpg')
                background-position: center
                background-size: cover
                background-repeat: no-repeat
                .pre-section1__our-company-card__right-side_play
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                .play
                    padding: 20px
                    border-radius: 30%
                    background-color: #228ae6
                    color: #fff
                    cursor: pointer
                    border: 5px solid #fff
                    transition: all 1s ease
                    &:hover
                        transform: scale(0.9)
