@font-face
    font-family: "Matroska"
    src: url(../../fonts/Matroska/Matroska.ttf)
    font-style: normal
    font-weight: normal
body
    font-family: "Montserrat", sans-serif
    font-size: 14px
    letter-spacing: 0.4px
    line-height: 28px
    height: 4000px

.page
    overflow: hidden
.content3
    width: 100%
    position: fixed
    z-index: 100000
    top: 0
    left: 50%
    transform: translate(-50%, 0)
.content2
    background-color: #181818
.content
    // background-color: #e2ee
    max-width: 100%
    margin: 0 auto
    .nav
        color: #fff
        max-width: 1200px
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
        .nav_logo
            font-family: "Matroska"
            font-size: 32px
            color: #337ab7
            user-select: none
            cursor: pointer
        .nav_list
            // width: 100%
            margin-left: 200px
            display: flex
            align-items: center
            justify-content: space-between
            li
                padding: 15px
                background-color: transparentize
                cursor: pointer
                transition: color .15s ease
                &:hover
                    color: #337ab7
                    transition: color .1s ease
                a
                    // color: #fff
                    font-size: 1em
                    font-weight: 600
                    text-transform: uppercase
                    &.active
                        color: #337ab7

.header-slider
    // margin-bottom: 70px
    .slider
        display: flex
        min-width: 0
        flex-direction: column
        margin: 0
        position: relative
        .slider-item
            outline: none
            position: absolute
            .title-item
                display: flex
                max-width: 800px
                flex-direction: column
                margin: 0 auto
                flex-wrap: wrap
                padding-top: 225px
                h1
                    z-index: 10
                    font-size: 45px
                    line-height: 55px
                    font-weight: 700
                    margin-bottom: 20px
                    color: #fff
                    text-transform: uppercase
                    user-select: none
                p
                    z-index: 10
                    font-size: 18px
                    margin-bottom: 30px
                    font-weight: 500
                    color: #fff
                    user-select: none
                .buttons-info
                    z-index: 10
                    a
                        display: inline-block
                        padding: 13px 25px
                        text-transform: capitalize
                        margin-right: 20px
                        background-color: #228ae6
                        color: #fff
                        border: none
                        border-radius: 5px
                        cursor: pointer
                        transition: all .3s ease-in
                        &:first-child
                            &:hover
                                background-color: #fff
                                transition: all .3s ease-out
                                color: #000
                        &:last-child
                            margin-right: 0
                            border: 1px solid #fff
                            background-color: transparent
                            &:hover
                                background-color: #228ae6
                                border-color: #228ae6
                                transition: all .3s ease-out

            .slider-item__pic1__title-item
                text-align: center
                padding-top: 275px
            .slider-item__pic2__title-item
                text-align: right
                max-width: 600px
                margin-right: 200px
            .slider-item__pic3__title-item
                text-align: left
                max-width: 700px
                padding-right: 100px
                margin-left: 200px
            .pic1
                background-image: url(../../img/1-1.jpg)
                background-size: cover
                height: 725px
                width: 100%
            .pic2
                background-image: url(../../img/2-1.jpg)
                background-size: cover
                height: 725px
                width: 100%
            .pic3
                background-image: url(../../img/3-1.jpg)
                background-size: cover
                height: 725px
                width: 100%

.slick-arrow
    position: absolute
    top: 50%
    z-index: 10
    font-size: 0
    width: 30px
    height: 60px
    border: none
    outline: none
    cursor: pointer
    margin: -30px 0 0 0
.slick-arrow.slick-prev
    left: 20px
    background: url(../../img/left-arrow.svg) 0 0 / 100% no-repeat
    z-index: 10001
.slick-arrow.slick-next
    right: 20px
    background: url(../../img/right-arrow.svg) 0 0 / 100% no-repeat
    z-index: 10001
.slick-dots
    display: flex
    align-items: center
    justify-content: center
    padding: 0
    li
        list-style: none
        margin: 0 10px
        &.slick-active button
            border: 1px solid black
            background-color: #fff
            border-radius: 50%
        button
            font-size: 0
            width: 10px
            height: 10px
            background-color: black
            border-radius: 50%
            border: none
            outline: none
            cursor: pointer
        &:active
            transform: scale(1.2)
.slick-list
    overflow: hidden

.slick-track
    display: flex
    align-items: flex-start

.bg-fon
    background-color: rgba(0,0,0,.6)
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 0

.section
    padding-top: 70px
    padding-bottom: 100px
    transition: all 1s ease
    .pre-section1
        display: flex
        margin: 0 auto
        max-width: 1200px
        flex-direction: column
        justify-content: center
        align-items: center
        .pre-section1__blocks-shadow
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            div
                padding: 12px 18px
                margin-right: 30px
                text-align: center
                box-shadow: 0px 0px 15px rgba(0,0,0,.1)
                display: flex
                flex-direction: column
                flex-wrap: nowrap
                &:last-child
                    margin-right: 0
                i
                    font-size: 55px
                    padding: 25px 0
                    opacity: .6
                h1
                    font-weight: 600
                    margin-bottom: 25px
        .pre-section1__our-company-card
            display: flex
            width: 100%
            justify-content: space-between
            margin-top: 100px
            .pre-section1__our-company-card__left-side
                display: flex
                flex-direction: column
                max-width: 100%
                // background-color: #eee
                >div
                    &:first-child
                        h2
                            font-size: 26px
                            margin-bottom: 15px
                        p
                            margin-bottom: 15px
                            opacity: 0.8
                        ul
                            li
                                opacity: 0.8
                                margin-bottom: 15px
                                i
                                    color: #228ae6
                    &:last-child
                        display: flex
                        align-items: center
                        // justify-content: space-evenly
                        margin-top: 30px
                        .desribe-card-right
                            display: flex
                            flex-direction: column
                            align-items: center
                            justify-content: space-between
                            h4
                                font-size: 18px
                            ul
                                display: flex
                                justify-content: space-around
                                align-items: center
                                margin-top: 20px
                                li
                                    margin: 20px
                                    a
                                        padding: 8px
                                        background-color: #228ae6
                                        border-radius: 20%
                                        i
                                            font-size: 16px
                                            color: #fff

            .pre-section1__our-company-card__right-side
                position: relative
                width: 100%
                background-image: url('../../img/video.jpg')
                background-position: center
                background-size: cover
                background-repeat: no-repeat
                .pre-section1__our-company-card__right-side_play
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                .play
                    padding: 20px
                    border-radius: 30%
                    background-color: #228ae6
                    color: #fff
                    cursor: pointer
                    border: 5px solid #fff
                    transition: all 1s ease
                    &:hover
                        transform: scale(0.9)
.section2
    width: 100%
    background-image: url('../../img/backgroundPhone.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    .pre-section2
        padding: 50px 0
        max-width: 1200px
        margin: 0 auto
        .pre-section2__blocks-placement
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            >div
                text-align: center
                color: #fff
                padding: 40px
                box-shadow: 0 0 10px #ffffff84
                min-width: 23%
                // margin-right: 25px
                &:last-child
                    margin-right: 0
                i
                    font-size: 55px
                    padding: 15px 0
                    color: #228ae6
                h1
                    font-size: 30px
                    font-weight: 800
                    padding: 15px 0
                p
                    font-size: 18px
                    padding: 15px 0

.choose-color-blocks-fixed
    .choose-color-blocks
        position: relative
        display: flex
        align-items: flex-start
        max-width: 290px
        transition: all 1s ease
        position: sticky
        .choose-color-cog
            position: absolute
            top: 0
            right: 0
            padding: 10px 10px 5px 10px
            background-color: #228ae6
            cursor: pointer
            i
                font-size: 30px
                animation: rotating 5s linear infinite
            @keyframes rotating
                from
                    transform: rotate(360deg)
        .choose-color
            max-width: 240px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            padding: 10px 25px
            background-color: #d3d3d3
            >div
                display: flex
                align-items: center
                margin: 1px
            .choose-your-color
                width: 33px
                height: 33px
                border-radius: 50%
                background-color: black
                margin: 10px
                cursor: pointer
                transition: all 0.3s ease
                &:hover
                    transform: scale(1.1)
                    transition: all 0.2s ease
                &:active
                    transform: scale(0.9)
                    transition: all 0.2s ease
                    cursor: grabbing
            .color-blue
                background-color: #1195a7
            .color-lightGreen
                background-color: #78d443
            .color-orange
                background-color: #ce9429
            .color-green
                background-color: #177e39
            .color-darkOrange
                background-color: #b97425
            .color-darkBlue
                background-color: #1c0c63
            .color-red
                background-color: #a12f2f
            .color-purple
                background-color: #a211a7

.transform-color-blocks
    transform: translate(-84%, 0)

.hover-bg
    &:hover
        background-color: #fff
        transition: all 1.1s ease

.section3
    width: 100vw
    .pre-section3
        max-width: 1200px
        margin: 0 auto
        text-align: center
        .header-slider
            margin-top: 40px
    .slider2
        display: flex
        min-width: 0
        flex-direction: column
        margin: 0
        position: relative
        .slider-item
            padding: 10px
            border: 1px solid #f0f0f0
            margin: 10px
            img
                width: 350px
                height: 250px
                user-select: none

.title-section
    text-align: center
    h1
        margin: 0 auto
        font-size: 24px
        &::after
            position: relative
            display: block
            content: ""
            max-width: 100px
            height: 2px
            background-color: #228ae6
            margin: 0 auto
            margin-top: 20px
            margin-bottom: 15px
    p
        max-width: 50%
        margin: 0 auto
        opacity: .6
        font-size: 16px

.section4
    max-width: 1200px
    margin: 0 auto
    .pre-section4__stats-block
        display: flex
        justify-content: space-between
        max-width: 60%
        margin-top: 50px
        h4
            font-size: 28px
            margin-bottom: 20px
        p
            opacity: 0.6

.wrapper-content
    width: 100%
    margin-bottom: 40px
    .flex-menu-aside
        display: flex
        align-items: center
        h1
            font-size: 14px
            font-weight: 600
        div
            width: 3px
            height: 30px
            background-color: #0097C2
            margin-right: 25px
    .span-line-aside
        width: 100%
        height: 1px
        background-color: #C4C4C4
        margin-top: 15px
    .progress-bar
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 100px
        .bar
            width: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
            &:nth-child(odd)
                margin-right: 60px
            .progress
                width: 100%
                height: 5px
                background-color: #eee
                .progress-done
                    display: flex
                    width: 0
                    height: 100%
                    background-color: black
                    justify-content: flex-end
                    transition: 1.5s ease
                    p
                        margin: 0
                        padding-top: 10px
